.First {
    width: 200px;
    height: 75px;
    padding-top: 40px;
    background-color: red;
    text-align: center;
    margin-top: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
}
.Second {
    width: 200px;
    height: 75px;
    padding-top: 40px;
    background-color: yellow;
    left: 250px;
    top: 0px;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
}
.Third {
    width: 200px;
    height: 75px;
    padding-top: 40px;
    background-color: green;
    left: 500px;
    top: 0px;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
}
p {color: blue;
}