.First {
    width: 200px;
    height: 100px;
    background-color: red;
}
.Second {
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    top: 0px;
    position: absolute;
}
.Third {
    width: 200px;
    height: 100px;
    background-color: green;
    left: 500px;
    top: 0px;
    position: absolute;
}